//font-family
$font-family : "Open Sans", sans-serif;

//sizes text and headers
$text-size   : 14px;
$h-text-size : 21px;

///line-height for text and headers
$text-line   : 21px;
$h-text-line : 26px;

//text-colors for text, headers, 
$text-color   : #333;
$h-text-color : #000;

//background color for inputs
$bg-input-color : #f2f2f2;