<!DOCTYPE html>
<html lang="ru" ng-app="toDo">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>ToDo</title>
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Vast+Shadow" rel="stylesheet">
	<link href="css/main.min.css" rel="stylesheet">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="js/main.min.js"></script>

	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="page" ng-controller="taskCtrl">
	<div class="page__wrap page__wrap--shadow">
		<header class="header">
			<div class="statistics">
				<div class="statistics__user">
					<svg class="statistics__image" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 380 402.5">
						<style class="statistics__style">.a{fill:#B2B2B2;}</style>
						<path class="statistics__path a" d="M189.4 0L0 66.6l29.9 248.1 159.7 87.8 160.5-88.9 29.9-248.1L189.4 0z" class="a"/>
						<path class="statistics__path" d="M361.1 79.8L189 21.1v360.5l144.3-79.8L361.1 79.8z" fill="#B52E31"/>
						<path class="statistics__path" d="M21.3 80.9l25.6 221.9 142 78.8V21.1L21.3 80.9z" fill="#E23237"/>
						<path class="statistics__path" d="M228.9 200.4l-39.6-82.7 -34.9 82.7L228.9 200.4 228.9 200.4zM244 235.2H139l-23.5 58.7 -43.7 0.8 117.1-260.5 121.2 260.5h-40.5L244 235.2z" fill="#F2F2F2"/>
						<path class="statistics__path a" d="M189 34.2l0.3 83.5 39.5 82.7h-39.8l-0.1 34.6 55 0.1 25.7 59.5 41.8 0.8L189 34.2z"/>
					</svg>
				</div>
			</div>
		</header>
		<main class="main-content">
			<div class="main-content__switch">
				<button class="main-content__button" ng-click=showToDo()>Невыполненные</button>
				<button class="main-content__button" ng-click=showDone()>Выполненные</button>
			</div>
			<div class="tasks">
				<form class="tasks__form" action="#">
					<input class="tasks__add-task" ng-model="text">
					<button class="tasks__button" ng-click=addTask()>Добавить</button>
				</form>
				<div class="tasks__item" ng-repeat="item in todoTasks" ng-if="showToDoTasks">
					<p class="tasks__description">
						{{item.text}}
					</p>
					<div class="tasks__controls">
						<button class="tasks__button" ng-click=doneTask($index)>Выполнено</button>
						<button class="tasks__button" ng-click="deleteTask($index, item)">Удалить</button>
					</div>
				</div>
			</div>
			<div class="completed-tasks" ng-repeat="item in doneTasks" ng-if="!showToDoTasks">
				<div class="completed-tasks__item">
					<p class="completed-tasks__description">
						{{item.text}}
					</p>
					<button class="completed-tasks__button" ng-click="deleteTask($index, item)">Удалить</button>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="author">
				Автор
			</div>
		</footer>
	</div>
</body>
</html>